# Кэш и временные файлы
.cache/
.mozilla/
**/__pycache__/
*.pyc
*.swp
*.save
*.save.*

# Базы данных и тестовые файлы
test.db
*.sqlite

# Системные папки Linux
.config/
.local/
.linuxmint/
.ICEauthority
.Xauthority
.bash_history
.dmrc
.sudo_as_admin_successful
.xsession-errors*

# Личные папки (если не хочешь их публиковать)
Андрей.
Загрузки/
Видео/
Документы/
Изображения/
Музыка/
Общедоступные/
Рабочий стол/
Шаблоны/
*.save
*.save.*
test_api.pyecho
test_db.pycd
test_db.pypython3
test_fix.pypython3
test_users.pypython3
report.html
venv/
